Flask
# google-api-python-client
# google-auth
# google-cloud-language
# google-cloud-speech
gunicorn
# sqlalchemy 
# sqlalchemy-cockroachdb
# psycopg2-binary
python-dotenv
# testresources
# git+https://github.com/facebookresearch/ParlAI.git
parlai
PyYAML
tensorflow-cpu==2.4.1